*.gem
*.rbc
*.swp
.bundle
.config
.vagrant
.yardoc
Gemfile.lock
InstalledFiles
Vagrantfile
_yardoc
coverage
debian/big-brother
doc/
lib/bundler/man
pkg
rdoc
spec/reports
tags
test/tmp
test/version_tmp
tmp
